@import '../../Styles/variables.less';

.button {
  outline: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1rem;
  border: 1px solid @mainColor;
  transition: background-color 0.2s ease-in, color 0.1s ease-in 0.1s;
  font-family: @fontFamily;

  &:hover,
  &:active,
  &:focus {
    background-color: @mainColor;
    color: #fff;
  }

  &:disabled {
    background-color: #fff;
    color: @secondaryColor;
    border-color: @secondaryColor;
    cursor: default;
  }
}
