@import './variables.less';

.board {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.sidebar {
  margin-left: 2rem;
  flex: 1;

  > p {
    margin: 1rem 0;
    color: @secondaryColor;
    font-family: @fontFamily;
  }

  > h1 {
    font-family: @fontFamily;
    color: @successColor;
    font-size: 2rem;
    font-weight: normal;
  }
}

.hidden {
  visibility: hidden;
}
