@import '../../Styles/variables.less';

.tile {
  width: @tileSize;
  height: @tileSize;
  border: 1px solid @secondaryColor;
  color: @mainColor;
  font-family: @fontFamily;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 2rem;
  background-color: @tileBackgroundColor;
  transition: background-color 0.1s ease-in;
  cursor: default;
}

.canMove {
  cursor: pointer;

  &:hover {
    background-color: @tileBackgroundHoverColor;
  }
}
